<p>This is the home view.</p>
<!--
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
-->

<br />

<form ng-submit="addGridItem()">
    <input type="text" ng-model="gridItems.make" size="50" placeholder="Add Make">
    <input type="text" ng-model="gridItems.model" size="50" placeholder="Add Model">
    <input type="text" ng-model="gridItems.price" size="50" placeholder="Add Price">
    <input type="submit" value="Add New">
</form>

<br />

<div ng-repeat="item in gridItems">
    <input type="checkbox" ng-model="item.done"> <span ng-bind="item.make"></span> <span ng-bind="item.model"></span> <span ng-bind="item.price"></span>
</div>

<p><button ng-click="removeGridItem()">Remove marked</button></p>

<br /> <!--todo: use css spacing -->
<!-- below ref: https://www.ag-grid.com/best-angularjs-data-grid/ -->
<!--
<div ng-controller="gridController">
    <div ag-grid="gridOptions" class="ag-fresh" style="height: 100px;"></div>
</div>
-->
<div ag-grid="gridOptions" class="ag-fresh" style="height: 500px;"></div>
